.image {
    width: 40px;
    opacity: 0.8;
}

.choice {
    margin: 1rem;
    z-index: 999;
    text-align: center;
}

.answer {
    text-align: center;
    margin-right: 10px;
    background-color: bisque;
    padding: 50px 0px 50px 0px;

}

.an-row {
    margin-top: 6rem;

}

.quiz-box {
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px 150px 50px 150px;
}

.quiz_title {
    font-size: 40px;
    padding-bottom: 30px;
    color: #A0BCC2;
    font-weight: bold;
}

#submit {
    background-color: #A0BCC2;
    margin-top: 40px;
    margin-left: 200px;
}

#next {
    background-color: #A0BCC2;
    margin-top: 40px;

}

.p1 {
    position: absolute;
    z-index: -1;
    top: 10%;
    left: 0;
    width: 150px;
    height: 150px;
    transform: rotate(15deg);
}
.p2 {
    position: absolute;
    z-index: -1;
    top: 40%;
    left: 5%;
    width: 150px;
    height: 150px;
    transform: rotate(-10deg);
}
.p3 {
    position: absolute;
    z-index: -1;
    top: 70%;
    left: 1%;
    width: 150px;
    height: 150px;
    transform: rotate(30deg);
}
.p4 {
    position: absolute;
    z-index: -1;
    top: 85%;
    left: 15%;
    width: 150px;
    height: 150px;
    transform: rotate(30deg);
}

.p5 {
    position: absolute;
    z-index: -1;
    top: 90%;
    left: 35%;
    width: 150px;
    height: 150px;
    transform: rotate(10deg);
}
.p6 {
    position: absolute;
    z-index: -1;
    top: 87%;
    left: 60%;
    width: 150px;
    height: 150px;
    transform: rotate(-15deg);
}
.p7 {
    position: absolute;
    z-index: -1;
    top: 80%;
    left: 85%;
    width: 150px;
    height: 150px;
    transform: rotate(-40deg);
}
.p8 {
    position: absolute;
    z-index: -1;
    top: 60%;
    left: 90%;
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
}
.p9 {
    position: absolute;
    z-index: -1;
    top: 30%;
    left: 88%;
    width: 150px;
    height: 150px;
    transform: rotate(15deg);
}
.p10 {
    position: absolute;
    z-index: -1;
    top: 8%;
    left: 75%;
    width: 150px;
    height: 150px;
    transform: rotate(-10deg);
}
.p11 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 25%;
    width: 150px;
    height: 150px;
    transform: rotate(20deg);
}
.p12 {
    position: absolute;
    z-index: -1;
    top: 70%;
    left: 30%;
    width: 150px;
    height: 150px;
    transform: rotate(-40deg);
}


