{% extends "layout.html" %}

{% block content %}
    <script>
        let user_answers = {{user_answers|tojson}};
        //console.log({{user_answers}})
        let quiz_answers = {{quiz_answers|tojson}};
        //console.log({{quiz_answers}})
        let quiz_id = {{quiz_id|int}}
            console.log({{quiz_id }})
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz_answer.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'quiz_answer.css') }}">

    <div>
        <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd4212be4d5dd25_head%2004.svg'
             class='p p1'>
    </div>
    <div>
        <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd421239fd5dd3f_head%2026.svg'
             class='p p2'>
    </div>
    <div>
        <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd42152c3d5dd4f_head%2029.svg'
             class='p3'>
    </div>
    <div>
        <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd421cb5ed5dd2f_head%2027.svg'
             class='p4'>
    </div>
    <div>
        <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd4215eaad5dd4e_head%2025.svg'
             class='p5'>
    </div>
    <div>
        <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd4212df6d5dd3a_head%2024.svg'
             class='p6'>
    </div>
    <div>
        <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd421c408d5dd26_head%2011.svg'
             class='p7'>
    </div>
    <div>
        <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd421ef8dd5dd43_head%2005.svg'
             class='p8'>
    </div>
    <div>
        <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd421a1a2d5dd52_head%2002.svg'
             class='p9'>
    </div>
    <div>
        <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd4218b43d5dd4c_icon-256w.png'
             class='p10'>
    </div>
    <div>
        <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd421065fd5dd4a_head%2023.svg'
             class='p11'>
    </div>
    <div>
        <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd421cb21d5dd3e_head%2012.svg'
             class='p12'>
    </div>
    <div class='container box'>
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h4>Answer </h4>
            </div>
        </div>
        <br><br><br>


        <div class="row" id="sound-section" style="text-align: center;">
        </div>


        <div>


            <button id="next_question" style="display: block;margin:20px auto">
                Next Question!
            </button>

        </div>

    </div>



{% endblock %}
