{% extends "layout.html" %}

{% block content %}
<script>
    let quiz = {{quiz|tojson}};
    console.log({{quiz_id}})
    let quiz_id = {{quiz_id|string}}
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename = 'quiz.css') }}">


<div class="row">
    <div class="col-md-12" id="sound-section" style="text-align: center;"></div>
</div>

<div class="row an-row" id="answer-section"></div>

<div class="row">
    <button id="submit">
        Submit
    </button>

    <a href={{(quiz_id|int + 1)}} id="next"> Next </a>

</div>
    
</div>


{% endblock %}
