{% extends "layout.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'sound.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'manage_audio.css') }}">
    {#    <script src=""></script>#}
    <script src="{{ url_for('static', filename = 'manage_audio.js') }}"></script>
    <script>
        let topic = {{curr_topic|tojson}};
        console.log(topic);

    </script>

    <script type="text/javascript" src="{{ url_for('static', filename = 'sound.js') }}"></script>
    <div class='container sound-box'>
    <div class="row sound_title">
      TUTORIAL
    </div>
    <div class="row">
        <div id="sidebar" class="col-3">
            <ol class="list-group list-group-numbered">
                <li id="letter_b" class="list-group-item d-flex justify-content-between align-items-start clickable">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Letter B</div>

                    </div>
                    {#                    <span class="badge bg-primary rounded-pill">14</span>#}
                </li>
                <li id="t_sound" class="list-group-item d-flex justify-content-between align-items-start clickable">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">T Sound</div>

                    </div>
                    {#                    <span class="badge bg-primary rounded-pill">14</span>#}
                </li>
                <li id="k_sound" class="list-group-item d-flex justify-content-between align-items-start clickable">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">K sound</div>

                    </div>
                    {#                    <span class="badge bg-primary rounded-pill">14</span>#}
                </li>
                <li id="lip_roll" class="list-group-item d-flex justify-content-between align-items-start clickable">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Lip Roll</div>

                    </div>
                    {#                    <span class="badge bg-primary rounded-pill">14</span>#}
                </li>
                <li id="zipper_sound"
                    class="list-group-item d-flex justify-content-between align-items-start clickable">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Zipper Sound</div>

                    </div>
                    {#                    <span class="badge bg-primary rounded-pill">14</span>#}
                </li>
            </ol>
        </div>
        <div class="col-9">
            <iframe id="video" class="" width="560" height="315" src="" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <div>
                <button id="prev" class="btn btn-outline-info my-2 my-sm-0">Prev</button>
                <button id="next" class="btn btn-outline-info my-2 my-sm-0">Next</button>
            </div>

        </div>

    </div>
    <div>
{#        <audio src="" controls id="audio-playback" class="hidden"></audio>#}

    </div>
    <div>
        <div class="audio-record">
            <button id="recordButton">Start Recording</button>
            <button id="stopButton" class="inactive">Stop</button>
        </div>
        <div class="playback">
            <audio src="" controls id="audio_playback" class="hidden"></audio>
        </div>

    </div>
    <audio src="" controls id="audio_tutorial"></audio>
    <div class="text-center">
      <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd4218882d5dd1b_single-bot%402x.png' class='p'>
    </div>
</div>

{% endblock %}
